body
{
    background-color: #c1e4de;
}

.navbar 
{
    background: #063061;
}
.nav-link,
.navbar-brand 
{
    color: #a4ecf4;
    cursor: pointer;
}
.nav-link 
{
    margin-right: 1em !important;
}
.nav-link:hover 
{
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description 
{
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 
{
	color: #063061;
}

#Email, #FName, #Subject, #Textarea
{
    background-color: #c1e4de;
    border-color: #063061;
    color: #063061;
    display: inline-block; 
    margin-right:10px;
}
#Message1, #Message2, #Message3, #Message4
{
    display:none;
    color: rgb(202, 57, 57);
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
}
#Register
{
    border-color: #063061;
    background: #063061;
    color: #a4ecf4;
}

.page-footer
{
	background: #063061;
}
.page-footer h6
{
	color: #a4ecf4;
}
.page-footer p
{
	color: #a4ecf4;
}